@model BookProviders.App.ViewModels.CatererViewModel

@{
    ViewData["Title"] = "Delete Caterer";
}

<h2>@ViewData["Title"]</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Document)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Document)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CatererType)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CatererType)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Active)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Active)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <button type="submit" class="btn btn-danger"><i class="fa fa-trash-alt"></i> Delete</button>
        <a asp-action="Index" class="btn btn-success"><i class="fa fa-times"></i> Cancel</a>
    </form>
</div>
